:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* base geral*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/* filme-principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-ncis.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}
