:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* base geral*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/* filme-principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa-ncis.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao{
    margin-top: 10px;    
    margin-bottom: 40px;
}

.button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: #FFF;

    padding: 15px 30px;
    margin-right: 15px;
    font-size-adjust: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.button:hover{
    background: #f0f0f0;
    color: var(--preta);
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
