@media (max-width: 430px){
    .filme-principal{
        font-size: 14px;
    }
    .filme-principal .titulo{
        font-size: 30px;
    }
}

@media  (max-width: 600px){
    header .logo {
        font-size: 30px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .button {
        width: 15rem;
        height: 3rem;
        margin-bottom: 5px;
    }
    .menuNav {
        visibility: hidden;
    }
    .menu {
        visibility: visible;
    }
}
@media (min-width: 601px){
    .menu {
        visibility: hidden;
    }
}
.menu {
    /* background-color: #fff; */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: fixed;
    top: 10px;
    right: 20px;
}

.hamburgue{
    display: block;
    background: rgb(218, 218, 218);
    width: 25px;
    height: 2px;
    position: relative;
    top: 10px;
    left: 5px;
    transition: .5s ease-in-out;
}

.hamburgue::before,
.hamburgue::after {
    background: rgb(218, 218, 218);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburgue::before {
    top: -8px;
}
.hamburgue::after {
    bottom: -8px;
}
#menuHamb {
    display: none;
}
#menuHamb:checked ~ label .hamburgue{
    transform: rotate(45deg);
}
#menuHamb:checked ~ label .hamburgue::before{
    top: 0;
    transform: rotate(90deg);
}
#menuHamb:checked ~ label .hamburgue::after{
    bottom: 0;
    transform: rotate(-180deg);
}